
h1.rojo {
    color:red;
}

/* estilos.css */

.navbar {
    margin-bottom: 70px;
}

#tabla_listado {
   
    margin-bottom: 50px;
}

h1 {
    margin-bottom: 30px;
}

input.error{
    border: 2px red dashed;
}


img.foto100 {
    width: 100px;
}
a.btn {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

a.btn:hover {
    transition:All 1s ease;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
}

    
    
